@page "/"
<h4>This is the startup page.</h4>
<br />
<p>
    Hello, welcome to the Medical Tracker.
    Helps you and your loved ones keep up with medicines, appointments, allegies, etc...
</p>

@*<EditForm Model="Data.CurrentPatient.GeneralInfo">*@
@*<DataAnnotationsValidator></DataAnnotationsValidator>*@
@if (File.Exists(Data.filePathPatientsList))
{
    <button @onclick="Data.LoadExistingPatients">Load Patients</button>
    <br />
    <br />
}
@if (Data.Patients.Count > 0)
{
    <p>Here is a list of all accessible patients:</p>
    //TODO: Make this into it's own component
 @*   @foreach (var p in Data.Patients)
    {
        <div>
            <div> @p.GeneralInfo.Name, DOB: @p.GeneralInfo.DateOfBirth, @p.ID </div>
            <div @onclick="(() => Delete(p.ID))">&times;</div>
        </div>
    }*@

    @for (int i = 0; i < Data.Patients.Count; i++)
    {
        int indicator = i;
        var p = Data.Patients[i];
        @*Patient indicatorPerson = @Data.Patients[i];*@
        <div>
            <div> @p.GeneralInfo.Name, DOB: @p.GeneralInfo.DateOfBirth, @Data.Patients[i].ID </div>
            <div @onclick="(() => Delete(indicator))">&times;</div>
        </div>
    }
    @*@foreach (Patient patient in Data.Patients)
        {

        <div>
        <div> @patient.GeneralInfo.Name, DOB: @patient.GeneralInfo.DateOfBirth</div>
        <div @onclick="Delete">&times;</div>
        </div>
        }*@
}
<button @onclick="CreatePatient">Create Patient</button>
@if (CreatingANewPatient)
{
    <GetGeneralInfo @bind-GeneralInfo="Data.CurrentPatient.GeneralInfo"></GetGeneralInfo>
    <GetContactInfo @bind-Contact="Data.CurrentPatient.PatientInfo"></GetContactInfo>
    <GetDailyMedicines></GetDailyMedicines>
    <GetAllergy></GetAllergy>
                //future components
    <br />
    <br />
    <button @onclick="Data.AtEndSubmitAndAddPatient" type="submit"> Save Patient</button>
    CreatingANewPatient = false;
}
@*make it to where the user can erase and edit Patients in the list. Add dates when the patients were added?*@
@*</EditForm>*@
@code {
    public bool CreatingANewPatient = false;

    /// <summary>
    /// When it gets called, it changes CreatingANewPatient to true.
    /// </summary>
    public void CreatePatient()
    {
        CreatingANewPatient = true;
    }

    public void Delete(int indicator)
    {
        Data.Patients.RemoveAt(indicator);
    }
}
