<h5>ListOfSavedPatients</h5>

@if (File.Exists(Data.filePathPatientsList))
{
    <button @onclick="Data.LoadExistingPatients">Load Patients</button>
    <br />
    <br />
}

@if (Data.Patients.Count > 0)
{
    <p>Here is a list of all accessible patients:</p>
                //TODO: Make this into it's own component
    @*   @foreach (var p in Data.Patients)
        {
        <div>
        <div> @p.GeneralInfo.Name, DOB: @p.GeneralInfo.DateOfBirth, @p.ID </div>
        <div @onclick="(() => Delete(p.ID))">&times;</div>
        </div>
        }*@

    @*    @for (int i = 0; i < Data.Patients.Count; i++)
        {
        <div>
        <div> @p.GeneralInfo.Name, DOB: @p.GeneralInfo.DateOfBirth, @Data.Patients[i].ID </div>
        <div @onclick="(() => Data.Delete(indicator))">&times;</div>
        </div>
        }*@
    @foreach (var p in Data.Patients)
    {
        @p.GeneralInfo.Name
        <div @onclick="(() => Data.DeletePatient(p.ID))"> Delete</div>
    }
    @*@foreach (Patient patient in Data.Patients)
        {

        <div>
        <div> @patient.GeneralInfo.Name, DOB: @patient.GeneralInfo.DateOfBirth</div>
        <div @onclick="Delete">&times;</div>
        </div>
        }*@
}
@code {

}
